<section id="aboutUs">
    <br />
    <div class="container-fluid">

        <div class="col-xs-12 col-md-4">
            <div class="row intro" style=" background-color: transparent; color: white">
                <h1 style="padding-left: 100px;">ABOUT US</h1>
            </div>

            <p>
                Lorem ipsum dolor sit amet, sit elit diceret interesset no, sea delectus intellegat id, suavitate explicari maiestatis pri ex. An sea novum utamur perpetua. Ei duo possim aliquam, eum idque nemore commodo et. Usu ut graece menandri, mea cu case vidit adipiscing. Eos ne doming nonumes sensibus.
            </p>
            <p>
                Vel assum propriae petentium eu. Pri ea decore dicunt meliore. Eu maiestatis voluptaria consequuntur pro, duo eu impetus ancillae. Eu sumo platonem sea. Essent vocent his ad, docendi vivendum maiestatis vel id. Ius mandamus tincidunt ea.
            </p>
                <p>
                Pri no alii discere legendos, et sea saepe regione torquatos, utroque electram has ex. Ex timeam viderer sea. Nec dicit ancillae perpetua ex, nam summo virtute singulis at. Nam ne zril dignissim assueverit.
            </p>
            <br />
        </div>

    </div>
</section>
