@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Holly Molly Meals</h1>
            <h2 class="masthead-subheading mb-0">Truly home made cooking</h2>
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
        </div>
    </div>

</header>

<section id="pasta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h2 class="display-4">Pasta</h2>
                    <br />
                    <h5>Spaghetti w/ Marinara Sauce</h5>
                    <p>
                        Spaghetti topped with house made Marinara sauce with onions, cheese, tomatoes and fresh herbs.
                    </p>
                    <h5>Spaghetti w/ Meat Sauce</h5>
                    <p>
                        Spaghetti topped with house made Marinara sauce with beef, onions, cheese, tomatoes and fresh herbs.
                    </p>
                    <h5>Spaghetti w/ Meatballs</h5>
                    <p>
                        Spaghetti topped with house made Marinara sauce with onions, cheese, tomatoes, and fresh herbs with 6 hand-rolled meatballs.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="pastaImg"></div>
            </div>
        </div>
    </div>
</section>

<section id="beef">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Beef</h2>
                    <br />
                    <h5>Roast Beef</h5>
                    <p>
                        Beef tenderloin with onion, bell pepper and fresh herbs slowly simmered for a looong time so it becomes juicy and flavorful. Melts in your mouth.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">

                    <div class="beefImage"></div>
  
            </div>
        </div>
    </div>
</section>

<section id="lasagna">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h2 class="display-4">Lasagna</h2>
                    <br />
                    <h5>Traditional Lasagna</h5>
                    <p>
                        Homemade marinara sauce with lean chunky beef, onions, fresh herbs and 3 cheeses.
                    </p>
                    <h5>Veggie Lovers' Lasagna</h5>
                    <p>
                        Homemade marinara sauce with spinach, onions, fresh herbs and 3 cheeses.
                    </p>
                    <h5>Alfredo Lasagna</h5>
                    <p>
                        Loaded with meat & spinach, authentic alfredo sauce, cheese and fresh herbs guaranteed to shock you.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="lasagnaImg"></div>
            </div>
        </div>
    </div>
</section>

<section id="meatloaf">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Meatloaf</h2>
                    <br />
                    <h5>Meatloaf</h5>
                    <p>
                        A juicy turkey and lean beef combination that's kiddo friendly.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="meatloafImage"></div>
            </div>
        </div>
    </div>
</section>

<section id="sides">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h6>Green Beans</h6>
                    <p>
                        Onions & Red Pepper
                    </p>
                    <h6>Twice baked potato</h6>
                    <p>
                        Onion, cheese, turkey bacon potatoes.
                    </p>
                    <h6>Mac & Cheese</h6>
                    <p>
                        3 different cheeses and cream topped with turkey bacon.
                    </p>
                    <h6>Sauteed Kale</h6>
                    <p>
                        Green & Red Pepper and Onions.
                    </p>
                    <h6>Collard green w/ Turkey</h6>
                    <p>
                        Onions, red & green bell peppers with fresh herbs.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Side Dishes</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>